<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="main-form">
    <form action="" method="post" enctype="multipart/form-data">
       <h1>Signup</h1>
       <input type="email" name="email" id="email" placeholder="Email"> <br>
       <input type="file" name="avatar" id="avatar">
       <input type="password" name="password" id="password" placeholder="Password"> <br>
       <div class="sbt-btn">
          <input type="submit" value="Submit">
       </div>
    </form>
</div>
</body>
</html>